@using Microsoft.AspNetCore.Localization
@{ 
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="keywords" content="@ViewData["MetaKeyword"]">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/client-side/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link href="~/client-side/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Owl Carousel min css -->
    <link href="~/client-side/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/client-side/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- This core.css file contents all plugings css file. -->
    <link href="~/client-side/css/core.css" rel="stylesheet" />
    <!-- Theme shortcodes/elements style -->
    <link href="~/client-side/css/shortcode/shortcodes.css" rel="stylesheet" />
    <!-- Theme main style -->
    <link href="~/client-side/style.css" rel="stylesheet" />
    <!-- Responsive css -->
    <link href="~/client-side/css/responsive.css" rel="stylesheet" />
    <!--notify-->
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <!-- User style -->
    <link href="~/client-side/css/custom.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <!-- Modernizr JS -->
    <script src="~/client-side/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body class="@ViewData["BodyClass"]">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Body main wrapper start -->
    <div class="wrapper">
        @await Html.PartialAsync("_Header.cshtml")

        @RenderBody()
        <!-- Start Footer Area -->
        @await Html.PartialAsync("_Footer.cshtml")
        <!-- End Footer Style -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <!-- jquery latest version -->
    <script src="~/client-side/js/vendor/jquery-3.2.1.min.js"></script>
    <!--notify-->
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <!-- Bootstrap framework js -->
    <script src="~/client-side/js/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="~/client-side/js/plugins.js"></script>
    <script src="~/client-side/js/slick.min.js"></script>
    <script src="~/client-side/js/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="~/client-side/js/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="~/client-side/js/main.js"></script>

    <script src="~/client-app/shared/locallize/resources.@(requestCulture.RequestCulture.Culture.Name).js"></script>
    <script src="~/client-app/shared/duongFunc.js"></script>
    <script src="~/client-app/controllers/product/manage.js" asp-append-version="true"></script>
    <script>
        var productObj = new ProductManageController();
        productObj.initialize();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>