@model HomeViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["MetaKeyword"] = Model.MetaKeyword;
    ViewData["MetaDescription"] = Model.MetaDescription;
}
<!-- Start Slider Area -->
<div class="slider__container slider--one bg__cat--3">
    <div class="slide__container slider__activation__wrap owl-carousel">

        @foreach (var slide in Model.HomeSlides)
        {
            <!-- Start Single Slide -->
            <div class="single__slide animation__style01 slider__fixed--height">
                <div class="container">
                    <div class="row align-items__center">
                        <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                            <div class="slide">
                                <div class="slider__inner">
                                    <h2>Collection @DateTime.Now.Year.ToString()</h2>
                                    <h1>@slide.Name</h1>
                                    <div class="cr__btn">
                                        <a href="cart.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                            <div class="slide__thumb">
                                <img src="@slide.Image" alt="slider images" onerror="this.src ='/client-side/images/slider/fornt-img/1.png';this.onerror=null;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Slide -->
        }
    </div>
</div>
<!-- Start Slider Area -->
<!-- Start Product Area -->
<section class="htc__category__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">New Arrivals</h2>
                    <p>But I must explain to you how all this mistaken idea</p>
                </div>
            </div>
        </div>
        <div class="htc__product__container">
            <div class="row">
                <div class="product__list clearfix mt--30">
                    <!-- Start Single Product -->
                    @foreach (var product in Model.Products)
                    {
                        var url = "/" + product.SeoAlias + "-p." + product.Id + ".html";
                        <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                            <div class="category">
                                <div class="ht__cat__thumb">
                                    <a href="@url">
                                        <img src="@product.Image" alt="" onerror="this.src ='/client-side/images/product/1.jpg';this.onerror=null;">
                                    </a>
                                </div>
                                <div class="fr__hover__info">
                                    <ul class="product__action">
                                        <li><button class="btnAddToWishList" data-id="@product.Id" type="button"><i class="icon-heart icons"></i></button></li>
                                    </ul>
                                </div>
                                <div class="fr__product__inner">
                                    <h4><a href="product-details.html">@product.Name</a></h4>
                                    <ul class="fr__pro__prize">
                                        <li class="old__prize">@product.OriginalPrice.ToString("0")</li>
                                        <li>@product.Price.ToString("0")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->
<!-- Start Prize Good Area -->
<section class="htc__good__sale bg__cat--3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="fr__prize__inner">
                    <h2>@Model.PrizeGoodProduct.Name</h2>
                    <h3>@Model.PrizeGoodProduct.Description.</h3>
                    <a class="fr__btn" href="#">Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="prize__inner">
                    <div class="prize__thumb">
                        <img src="@Model.PrizeGoodProduct.Image" alt="banner images">
                    </div>
                    @*<div class="banner__info">
                            <div class="pointer__tooltip pointer--3 align-left">
                                <div class="tooltip__box">
                                    <h4>Tooltip Left</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--4 align-top">
                                <div class="tooltip__box">
                                    <h4>Tooltip Top</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--5 align-bottom">
                                <div class="tooltip__box">
                                    <h4>Tooltip Bottom</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--6 align-top">
                                <div class="tooltip__box">
                                    <h4>Tooltip Bottom</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                            <div class="pointer__tooltip pointer--7 align-top">
                                <div class="tooltip__box">
                                    <h4>Tooltip Bottom</h4>
                                    <p>Lorem ipsum pisaci volupt atem accusa saes ntisdumtiu loperm asaerks.</p>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Prize Good Area -->
<!-- Start Product Area -->
<section class="ftr__product__area ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Best Seller</h2>
                    <p>You may be interested</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="product__wrap clearfix">
                <!-- Start Single Category -->
                @foreach (var bestSell in Model.TopSellProducts)
                {
                    var url = "/" + bestSell.SeoAlias + "-p." + bestSell.Id + ".html";
                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12">
                        <div class="category">
                            <div class="ht__cat__thumb">
                                <a href="@url">
                                    <img src="@bestSell.Image" alt="@bestSell.Name" onerror="this.src ='/client-side/images/product/1.jpg';this.onerror=null;">
                                </a>
                            </div>
                            <div class="fr__hover__info">
                                <ul class="product__action">
                                <li>
                                    <button class="btnAddToWishList" data-id="@bestSell.Id" type="button"><i class="icon-heart icons"></i></button>
                                </li>
                                </ul>
                            </div>
                            <div class="fr__product__inner">
                                <h4><a href="product-details.html">@bestSell.Name</a></h4>
                                <ul class="fr__pro__prize">
                                    <li class="old__prize">@bestSell.OriginalPrice.ToString("N0")</li>
                                    <li>@bestSell.Price.ToString("N0")</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }
                <!-- End Single Category -->
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->

@if (Model.TopFeedbacks.Count > 0)
{
    <!-- Start Testimonial Area -->
    <section class="htc__testimonial__area bg__cat--4">
        <div class="container">
            <div class="row">
                <div class="ht__testimonial__activation clearfix">
                    @foreach (var feedback in Model.TopFeedbacks)
                    {
                        <!-- Start Single Testimonial -->
                        <div class="col-lg-6 col-md-6 single__tes">
                            <div class="testimonial">
                                <div class="testimonial__thumb">
                                    <img src="@feedback.Avatar" alt="" onerror="this.src = 'client-side/images/test/client/1.png'; this.onerror = null;">
                                </div>
                                <div class="testimonial__details">
                                    <h4><a href="#">@feedback.Name</a></h4>
                                    <p>@feedback.Message</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Area -->
}

<!-- Start Top Rated Area -->
<section class="top__rated__area bg__white pt--100 pb--110">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title--2 text-center">
                    <h2 class="title__line">Top Rated</h2>
                    <p>But I must explain to you</p>
                </div>
            </div>
        </div>
        <div class="row mt--20">
            <!-- Start Product -->
            @foreach (var top in Model.TopRateProducts)
            {
                var url = "/" + top.SeoAlias + "-p." + top.Id + ".html";
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="htc__best__product">
                        <div class="htc__best__pro__thumb">
                            <a href="@url">
                                <img src="@top.Image" alt="" onerror="this.src ='/client-side/images/product/1.jpg';this.onerror=null;" />
                            </a>
                        </div>
                        <div class="htc__best__product__details">
                            <h2><a href="product-details.html">@top.Name</a></h2>
                            <ul class="rating">
                                <li><i class="icon-star icons"></i></li>
                                <li><i class="icon-star icons"></i></li>
                                <li><i class="icon-star icons"></i></li>
                                <li ><i class="icon-star icons"></i></li>
                                <li class="old"><i class="icon-star icons"></i></li>
                            </ul>
                            <ul class="top__pro__prize">
                                <li class="old__prize">@top.OriginalPrice.ToString("0")</li>
                                <li>@top.Price.ToString("0")</li>
                            </ul>
                            <div class="best__product__action">
                                <ul class="product__action--dft">
                                    <li>
                                        <button class="btnAddToWishList" data-id="@top.Id" type="button"><i class="icon-heart icons"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- End  Product -->
        </div>
    </div>
</section>
<!-- End Top Rated Area -->
@await Component.InvokeAsync("Brand")

@if (Model.LastestBlogs.Count > 0)
{
    <!-- Start Blog Area -->
    <section class="htc__blog__area bg__white ptb--100">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title--2 text-center">
                        <h2 class="title__line">Our Blog</h2>
                        <p>But I must explain to you how all this mistaken idea</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ht__blog__wrap clearfix">
                    <!-- Start Single Blog -->
                    @foreach (var blog in Model.LastestBlogs)
                    {
                        <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12">
                            <div class="blog">
                                <div class="blog__thumb">
                                    <a href="blog-details.html">
                                        <img src="@blog.Image" alt="blog images" onerror="this.src ='/client-side/images/blog/blog-img/1.jpg';this.onerror=null;" />
                                    </a>
                                </div>
                                <div class="blog__details">
                                    <div class="bl__date">
                                        <span>@blog.DateModified.ToString("d")</span>
                                    </div>
                                    <h2><a href="blog-details.html">@blog.Name</a></h2>
                                    <p>@blog.Description</p>
                                    <div class="blog__btn">
                                        <a href="blog-details.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Area -->
}

<!-- End Banner Area -->